@charset "utf-8";
/* CSS Document */

body {
     padding: 0;
     margin: 0;
     height: 100%;
 }
 
 /*background of desktop*/
 #desktop {
     background: #2c609b;
     height: 100%;
     width: 100%;
     font: 12px "Segoe UI", Tahoma, sans-serif;
     position: relative;
     -moz-box-shadow: inset 0 -200px 100px #032b5c,
                      inset -100px 100px 100px #2073b5,
                      inset -100px 200px 100px #1f9bb1;
     -webkit-box-shadow: inset 0 -200px 100px #032b5c,
                         inset -100px 100px 100px #2073b5,
                         inset -100px 200px 100px #1f9bb1;
     box-shadow: inset 0 -200px 100px #032b5c,
                 inset -100px 100px 100px #2073b5,
                 inset -100px 200px 100px #1f9bb1;
     overflow: hidden;
 }
 
 /*startmenu*/
 #startmenu {
     /*position*/
     position: absolute;
     bottom: 0;
     /*size*/
     height: 40px;
     width: 100%;
     background: rgba(178, 215, 255, 0.25);
     -webkit-box-shadow: 0 -2px 20px rgba(0,0,0,0,25);
     -moz-box-shadow: 0 -2px 20px rgba(0,0,0,0.25),
         inset 0, 1px #042754,
         inset 0 2px #5785b0;
     box-shadow: 0 -2px 20px rgba(0,0,0,0.25),
         inset 0, 1px #042754,
         inset 0 2px #5785b0;
     overflow: hidden;
 }
 
 #startmenu button {
     font-size: 1.6em;
     color: rgba(0,0,0,0.1);
     margin-top: 6px;
     text-shadow: 0px 0px 1px #00294b;
     text-
 }
 
 /*startmenu*/
 #startmenu #winflag {
     float: left;
     width: 60px;
     height: 34px;
     margin: 3px 8px;
     /*padding: 0 auto 0;*/
     background: #034a76;
     border: none;
     -moz-border-radius: 18px;
     -webkit-border-radius: 18px;
     border-radius: 18px;
 
     -moz-box-shadow: 0 0 1px #34f,
                 0 0 3px #000,
                 0 0 3px #000;
     -webkit-box-shadow: 0 0 1px #34f,
                 0 0 3px #000,
                 0 0 3px #000;
     box-shadow: 0 0 1px #34f,
                 0 0 3px #000,
                 0 0 3px #000;
 }
 
 /*taskbar sheet*/
 #startmenu .application {
     position: relative;
     height: 34px;
     width: 60px;
     bottom: 3px;
     background:rgba(14, 59, 103, 0.25);
     border: 1px solid rgba(0,0,0,0.6);
     -webkit-border-radius: 4;
     -moz-border-radius: 4;
     border-radius: 4;
 }
 
 #startmenu .application:hover {
     background-color: hsla(240,70%, 70%, 0.6);
 }
 
 #startmenu #winflag:hover {
     background-color: hsla(150, 50%, 70%, 0.5);
 }
 
 /*window basic style*/
 .window {
     position: absolute;
     left:150px;
     top:100px;
     width: 300px;
     height: 400px;
     padding: 8px;
 
     /*特殊效果*/
     border: 1px solid hsla(0,100%,0%,0.6);
     background: rgba(178, 215, 255, 0.75);
 
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     border-radius: 8px;
 
     /*shadow*/
     -webkit-box-shadow: 0 2px 32px #000,
     0 0 1px #000,
     0 0 1px #000;
     -moz-box-shadow: 0 2px 16px #000,
     0 0 1px #000,
     0 0 1px #000;
 
     box-shadow: 0 2px 16px #000,
     0 0 1px #000,
     0 0 1px #000;
 
     text-shadow: 0 0 10px #fff;
 }
 
 .window span {display: block;}
 
 .window input {
     width: 100px;
     margin-right: 40px;
     -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
 
     -moz-box-shadow: 0 0 2px #fff,
     0 0 1px #fff,
     inset 0 0 3px #fff;
     -webkit-box-shadow: 0 0 2px #fff,
     0 0 1px #fff;
     /*inset 0 0 3px #fff;*/
     box-shadow: 0 0 2px #fff,
     0 0 1px #fff,
     inset 0 0 3px #fff;
 }
 
 .window winInput {margin-left: 12px;}
 
 .window.first {
     left:300px;
     top: 180px;
     opacity: 0.66;
 }
 .window span {margin-bottom:20px;}
 .window.first span {margin-bottom: 60px;}
 
 .window .content {
     margin-top: 16px;
     padding: 10px;
     height:250px;
     background: hsla(0, 0%, 100%, 0.6);
     border: 1px, dotted, #000;
 
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     border-radius: 6px;
 
 
     -webkit-box-shadow: 0 0 5px #fff,
     0 0 1px #fff;
     /*inset 0 1px 2px #aaa;*/
     -moz-box-shadow: 0 0 5px #fff,
     0 0 1px #fff,
     inset 0 1px 2px #aaa;
     box-shadow: 0 0 50px hsla(120, 90%, 60%, 0.7),
     0 0 1px #fff,
     inset 0 1px 2px #aaa;
 
     text-shadow: none;
 }
 
 .window .control {
     position: relative;
     left: 220px;
     top: -40px;
 }
 
 .window.first .control {top: -80px;}
 
 .window .control .ctrl {
     position: relative;
     /*height: 34px;*/
     width: 26px;
     /*bottom: 3px;*/
     background:rgba(14, 59, 103, 0.25);
     border: 1px solid rgba(0,0,0,0.6);
     -webkit-border-radius: 3;
     -moz-border-radius: 3;
     border-radius: 3;
 }
 
 .window .control .ctrl:hover {
     background-color: hsla(240,70%, 80%, 0.6);
 }
