<div navbar ng-init="currentItem='site.Apache'"></div>
<div ng-show="!loaded"><div loading></div></div>

<div id="main" ng-show="loaded" style="display:none">
	<div class="module-header">
		<h3>
			<span ng-show="action=='new'">新建站点（Apache）</span>
			<span ng-show="action=='edit'">编辑站点（Apache）</span>
		</h3>
	</div>

	<h5 ng-show="!gen_by_onepanel" class="text-error" style="display:none">
		！！！该站点的配置不是使用 OnePanel 生成的，继续配置有可能导致部分配置丢失。<br>
		！！！建议使用 OnePanel 为该站点新建一个配置，并将原配置迁移过来。<br>
		！！！如要手工编辑原始配置文件内容，请<a href="#/service/Apache?s=configfile">点击这里</a>。
	</h5>
	
	<div class="alert alert-warning">
		注意：添加或更新站点配置后，需要 <a href="#/service/apache" target="_blank"><strong>重启 Apache</strong></a> 后配置才会生效。
	</div>

	<div class="form-horizontal form-horizontal-small" ng-init="load()">
		<div class="widget">
			<div class="widget-header">
				<i class="icon-cog"></i><h3>基本设置</h3>
			</div>
			<div class="widget-content">
				<table class="table table-button">
					<tbody>
						<tr ng-repeat="server_name in setting.server_names">
							<th class="td-borderless" style="width:80px;"><span ng-show="$index==0">Rewrite文件</span></th>
							<td class="td-borderless" colspan="2">
								<input ng-model="server_name.name" type="text" class="input-large" ng-disabled="!server_name.default_name" placeholder="请输入Rewrite文件">
								<br><label class="checkbox inline" style="margin-top:5px">
									<input readonly ng-model="true" ng-click="server_name.name=''" type="checkbox">Rewrite开启
									
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>

	<div style="margin-top:30px">
		<p>
			<button ng-show="action=='new'" class="btn btn-primary" ng-click="addserver()">填写完毕，提交新站点</button>
			<button ng-show="action=='edit'" class="btn btn-primary" ng-click="updateserver()">保存站点配置</button>
			<button ng-show="action=='edit'" class="btn" ng-click="restore()">撤销修改</button>
		</p>
	</div>
</div>

<div id="selector" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{selector_title}}</h3>
  </div>
  <div class="modal-body">
	<div selector></div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
  </div>
</div>
