<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh" xml:lang="zh">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<script src="../lib/jquery/jquery-1.8.2.min.js"></script>
<title>Cron Jobs</title>
</head>
<style type="text/css">
<!--
html{ border:0px;height:100%;}
body{
	margin:0px; padding:0px;height:100%;
	background:url(../images/table1.jpg);
}
.dvmain{ 
	height:99.3%;
	border:solid 3px #33CC66; 
	text-align:left; 
	font-size:12px; 
}

.content2 {
	font-size: 12px; 
	background-color:#F5F5F5;
	padding:10px; 
	width:auto; 
	border:solid #DDDDDD 1px; 
	height:300px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
	margin-top:5px; 
	margin-left:30PX;
   	margin-right:15PX;	

}
	
.content1 {
	font-size: 12px; 
	background-color:#F5F5F5;
	padding:10px; 
	width:auto; 
	border:solid #E7E7E7 1px; 
	height:200px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
	margin-top:5px; 
	margin-left:30PX;
   	margin-right:15PX;	
}
.content3 {
	font-size: 12px; 
	background-color:#F5F5F5;
	padding:10px; 
	width:auto; 
	border:solid #E7E7E7 1px; 
	height:100px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
	margin-top:5px; 
	margin-left:30PX;
   	margin-right:15PX;	
   	margin-bottom:10px;
}

.title{
	font-size: 12px; 
	width:auto; 
	background-color:#DDFF77;
	border:solid #E7E7E7 1px; 
	height:100px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
    padding: 3px;
}
.page{
	font-size: 12px; 
	background-color:#FFFFFF;
	width:800px; 
	border:ridge #E7E7E7 3px; 
	height:auto;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden; 
}
.main{
	font-size: 12px; 
	background-color:#FFFFFF;
	width:auto; 
	border:solid #888888 1px; 
	height:auto;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
}
.info{
	padding:2px; 
	width:auto; 
	border:solid #E7E7E7 1px; 
	height:100px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
   	margin-top:5px; 
   	margin-left:30PX;
   	margin-right:15PX;
   	font-family: Arial;

}

.subject{
	padding:2px; 
	width:auto; 
	height:20px;
	margin-left: auto;
	margin-right: auto;
    overflow:hidden;
   	margin-top:10px;
   	margin-left:15PX;
   	margin-right:15PX;
   	font-family: Arial;
}

.subfontstyle{
	font-size: 15px; 
	font-weight: 900;
	font-family: Arial;
}

.infofont{
	font-size: 13px; 
	font-style:italic;
	font-family: Arial;
}
.addfont{
	font-size: 14px; 
	font-family: Arial;
}

.warning{
	color:#FF0000;
}


.addle{
	width:80px; 
	float:left; 
	text-align:right; 
	height:35px;
	border:solid #E7E7E7 1px; 
	
	}
.addrt{
	width:300px; 
	float:left;
	height:35px;
	border:solid #E7E7E7 1px; 
	margin-left:5PX;
	}
.errorinfo{
	width:320px; 
	float:right;
	height:35px;
	border:solid #E7E7E7 1px;
} 
.job_td{
	width:100px;
	font-size: 12px; 
	font-family: Arial;
	font-weight: 900;
}

-->
</style>
<script>
// add cron job
function addCronJob(){
	var minute = $("#minute_options").val();;
	var hour = $("#hour_options").val();
	var day=$("#day_options").val();
	var month=$("#month_options").val();
	var weekday=$("#weekday_options").val(); 
	
	var command=$("#command").val(); 
	
	var sendData = {"action":'add',"minute":minute,"hour":hour,"day":day,"month":month,"weekday":weekday,"cmd":command}
	
	$.ajax({
		url:'/xsrf',
		type:"get",
		async:false,
		success:function(data){
			$.postJSON('/operation/task',sendData,function(data){
				if (data.code== 0){
					alert(data.data);
					getJobList();
				} else {
					alert("Add the cron job fail!");
				}

			});
		}
	});
}

function getJobList(){
	var sendData = {"action":'list'}
	
	$.ajax({
		url:'/xsrf',
		type:"get",
		async:false,
		datatype:"json",
		success:function(data){
			$.postJSON('/operation/task',sendData,function(data){
				if (data.code== 0){
					var output='';
					var taskList = data.data;
					
					for(var i = 0; i < taskList.length; i++){
						var valList = taskList[i];

						output+='<tr>';
						output+='<input type="hidden" value="'+valList[0]+'" id="jobId">';
						for(var j = 1; j < valList.length - 1; j++){
							output+='<td>' + valList[j]+ '</td>';
						}
						output+='<td><a href="javascript:void(0);" onclick="deleteJob();">DELETE</a></td>';
						output+='</tr>';
					}
					
					alert(output);
					$("#cronJobsListResult").html(output);

				} else {
					alert("Get the cron job list fail!");
				}
			});
		}
	});

}

function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

jQuery.postJSON = function(url, args, callback) {
    args._xsrf = getCookie("XSRF-TOKEN");
   // alert(getCookie("XSRF-TOKEN"));
    $.ajax({url: url, data: $.param(args), type: "POST",
        success: function(response) {
        callback(response);
    }});
};

function deleteJob(){
	var id=$("#jobId").val();
	var sendData = {"action":'del',"id":id}
	$.ajax({
		url:'/xsrf',
		type:"get",
		async:false,
		success:function(data){
			$.postJSON('/operation/task',sendData,function(data){
				$("#currentCronJobsResult").append("<table>")
				$("#currentCronJobsResult").append(data.data);
				$("#currentCronJobsResult").append("</table>")
			});
		}
	});
}

function getJob(){
	var id=$("#jobId").val();
	var sendData = {"action":'list',"id":id}
	$.ajax({
		url:'/xsrf',
		type:"get",
		async:false,
		success:function(data){
			$.postJSON('/operation/task',sendData,function(data){
				$("#currentCronJobsResult").append("<table>")
				$("#currentCronJobsResult").append(data.data);
				$("#currentCronJobsResult").append("</table>")
			});
		}
	});
}



function clear(){
	alert("a");
}

function select_single_option(val){
	if (val = 'minute'){
		$("#minute").val($("#minute_options").val());
	} else if (val = 'hour'){
		$("#hour").val($("#hour_options").val());
	} else if (val = 'day'){
		$("#day").val($("#day_options").val());
	} else if (val ='month') {
		$("#month").val($("#month_options").val());
	} else if (val = 'weekday'){
		$("#weekday").val($("#weekday_options").val());
	}
}

function select_common_option(){
	var commonVal = $("common_options").val();
	$("#minute_options").val("*/5");
	
}
</script>
<body>

<div class="dvmain">
<div class="page">
<div class="main">
<div class="title"></div>
<div class="subject"><span class="subfontstyle">Cron Jobs</span></div>
<div class="info"><span class="infofont">Cron jobs allow you to automate certain commands or scripts on your site. 
You can set a command or script to run at a specific time every day, week, etc. For example, 
you could set a cron job to delete temporary files every week to free up disk space.<br>
<p></p>
<span class="warning">Warning: </span>You need to have a good knowledge of Linux commands before you can use cron jobs effectively.
 Check your script with your hosting administrator before adding a cron job.</span></div>
 <!--<div class="subject"><span class="subfontstyle">Cron Email</span></div>
<div class="content1"></div>-->
 <div class="subject"><span class="subfontstyle">Add New Cron Job</span></div>
<div class="content2">
	  <form id="form1" name="form1" method="post" action="" onsubmit="return false;">
			<div class="addle"><span class="addfont">Common<br />Settings:</span></div> 
			<div class="addrt">
				<select id="common_options" onchange="select_common_option()">
					<option value="--">-- Common Settings --</option>
					<option value="* * * * *">Every minute (* * * * *)</option>
					<option value="*/5 * * * *">Every 5 minutes (*/5 * * * *)</option>
					<option value="0,30 * * * *">Twice an hour (0,30 * * * *)</option>
					<option value="0 * * * *">Once an hour (0 * * * *)</option>
					<option value="0 0,12 * * *">Twice a day (0 0,12 * * *)</option>
					<option value="0 0 * * *">Once a day (0 0 * * *)</option>
					<option value="0 0 * * 0">Once a week (0 0 * * 0)</option>
					<option value="0 0 1,15 * *">1st and 15th (0 0 1,15 * *)</option>
					<option value="0 0 1 * *">Once a month (0 0 1 * *)</option>
					<option value="0 0 1 1 *">Once a year (0 0 1 1 *)</option>
				</select>
			</div>
		  	<div class="errorinfo">error</div>
			<div class="addle"><span class="addfont">Minute:</span></div>
			<div class="addrt">
				<input type="text" size="4" id="minute" />&nbsp;
				<select style="width: 175px" id="minute_options" onchange="select_single_option('minute')">
					<option value="--">-- Common Settings --</option>
					<option value="*">Every minute (*)</option>
					<option value="*/2">Every other minute (*/2)</option>
					<option value="*/5">Every 5 minutes (*/5)</option>
					<option value="*/10">Every 10 minutes (*/10)</option>
					<option value="*/15">Every 15 minutes (*/15)</option>
					<option value="0,30">Every 30 minutes (0,30)</option>
					<option value="--">-- Minutes --</option>
					<option value="0">:00 top of the hour (0)</option>
					<option value="1">:01 (1)</option>
					<option value="2">:02 (2)</option>
					<option value="3">:03 (3)</option>
					<option value="4">:04 (4)</option>
					<option value="5">:05 (5)</option>
					<option value="6">:06 (6)</option>
					<option value="7">:07 (7)</option>
					<option value="8">:08 (8)</option>
					<option value="9">:09 (9)</option>
					<option value="10">:10 (10)</option>
					<option value="11">:11 (11)</option>
					<option value="12">:12 (12)</option>
					<option value="13">:13 (13)</option>
					<option value="14">:14 (14)</option>
					<option value="15">:15 quarter past (15)</option>
					<option value="16">:16 (16)</option>
					<option value="17">:17 (17)</option>
					<option value="18">:18 (18)</option>
					<option value="19">:19 (19)</option>
					<option value="20">:20 (20)</option>
					<option value="21">:21 (21)</option>
					<option value="22">:22 (22)</option>
					<option value="23">:23 (23)</option>
					<option value="24">:24 (24)</option>
					<option value="25">:25 (25)</option>
					<option value="26">:26 (26)</option>
					<option value="27">:27 (27)</option>
					<option value="28">:28 (28)</option>
					<option value="29">:29 (29)</option>
					<option value="30">:30 half past (30)</option>
					<option value="31">:31 (31)</option>
					<option value="32">:32 (32)</option>
					<option value="33">:33 (33)</option>
					<option value="34">:34 (34)</option>
					<option value="35">:35 (35)</option>
					<option value="36">:36 (36)</option>
					<option value="37">:37 (37)</option>
					<option value="38">:38 (38)</option>
					<option value="39">:39 (39)</option>
					<option value="40">:40 (40)</option>
					<option value="41">:41 (41)</option>
					<option value="42">:42 (42)</option>
					<option value="43">:43 (43)</option>
					<option value="44">:44 (44)</option>
					<option value="45">:45 quarter til (45)</option>
					<option value="46">:46 (46)</option>
					<option value="47">:47 (47)</option>
					<option value="48">:48 (48)</option>
					<option value="49">:49 (49)</option>
					<option value="50">:50 (50)</option>
					<option value="51">:51 (51)</option>
					<option value="52">:52 (52)</option>
					<option value="53">:53 (53)</option>
					<option value="54">:54 (54)</option>
					<option value="55">:55 (55)</option>
					<option value="56">:56 (56)</option>
					<option value="57">:57 (57)</option>
					<option value="58">:58 (58)</option>
					<option value="59">:59 (59)</option>
				</select>
			</div>
			<div class="errorinfo">error</div>
			<div class="addle"><span class="addfont">Hour:</span></div>
			<div class="addrt">
			<input type="text" size="4" id="hour" />&nbsp;
						<select style="width: 175px" id="hour_options" onchange="select_single_option('hour')">
							<option value="--">-- Common Settings --</option>
							<option value="*">Every hour (*)</option>
							<option value="*/2">Every other hour (*/2)</option>
							<option value="*/3">Every 3 hours (*/3)</option>
							<option value="*/4">Every 4 hours (*/4)</option>
							<option value="*/6">Every 6 hours (*/6)</option>
							<option value="0,12">Every 12 hours (0,12)</option>
							<option value="--">-- Hours --</option>
							<option value="0">12:00 a.m. midnight (0)</option>
							<option value="1">1:00 a.m. (1)</option>
							<option value="2">2:00 a.m. (2)</option>
							<option value="3">3:00 a.m. (3)</option>
							<option value="4">4:00 a.m. (4)</option>
							<option value="5">5:00 a.m. (5)</option>
							<option value="6">6:00 a.m. (6)</option>
							<option value="7">7:00 a.m. (7)</option>
							<option value="8">8:00 a.m. (8)</option>
							<option value="9">9:00 a.m. (9)</option>
							<option value="10">10:00 a.m. (10)</option>
							<option value="11">11:00 a.m. (11)</option>
							<option value="12">12:00 p.m. noon (12)</option>
							<option value="13">1:00 p.m. (13)</option>
							<option value="14">2:00 p.m. (14)</option>
							<option value="15">3:00 p.m. (15)</option>
							<option value="16">4:00 p.m. (16)</option>
							<option value="17">5:00 p.m. (17)</option>
							<option value="18">6:00 p.m. (18)</option>
							<option value="19">7:00 p.m. (19)</option>
							<option value="20">8:00 p.m. (20)</option>
							<option value="21">9:00 p.m. (21)</option>
							<option value="22">10:00 p.m. (22)</option>
							<option value="23">11:00 p.m. (23)</option>
						</select>
			</div>
			<div class="errorinfo">error</div>
			<div class="addle"><span class="addfont">Day:</span></div>
			<div class="addrt">
			<input type="text" size="4" id="day" />&nbsp;
						<select style="width: 175px" id="day_options" onchange="select_single_option('day')">
							<option value="--">-- Common Settings --</option>
							<option value="*">Every day (*)</option>
							<option value="*/2">Every other day (*/2)</option>
							<option value="1,15">1st and 15th (1,15)</option>
							<option value="--">-- Days --</option>
							<option value="1">1st (1)</option>
							<option value="2">2nd (2)</option>
							<option value="3">3rd (3)</option>
							<option value="4">4th (4)</option>
							<option value="5">5th (5)</option>
							<option value="6">6th (6)</option>
							<option value="7">7th (7)</option>
							<option value="8">8th (8)</option>
							<option value="9">9th (9)</option>
							<option value="10">10th (10)</option>
							<option value="11">11th (11)</option>
							<option value="12">12th (12)</option>
							<option value="13">13th (13)</option>
							<option value="14">14th (14)</option>
							<option value="15">15th (15)</option>
							<option value="16">16th (16)</option>
							<option value="17">17th (17)</option>
							<option value="18">18th (18)</option>
							<option value="19">19th (19)</option>
							<option value="20">20th (20)</option>
							<option value="21">21st (21)</option>
							<option value="22">22nd (22)</option>
							<option value="23">23rd (23)</option>
							<option value="24">24th (24)</option>
							<option value="25">25th (25)</option>
							<option value="26">26th (26)</option>
							<option value="27">27th (27)</option>
							<option value="28">28th (28)</option>
							<option value="29">29th (29)</option>
							<option value="30">30th (30)</option>
							<option value="31">31st (31)</option>
						</select>
			</div>
			<div class="errorinfo">error</div>
			<div class="addle"><span class="addfont">Month:</span></div>
			<div class="addrt">
						<input type="text" size="4" id="month" />&nbsp;
						<select style="width: 175px" id="month_options" onchange="select_single_option('month')">
							<option value="--">-- Common Settings --</option>
							<option value="*">Every month (*)</option>
							<option value="*/2">Every other month (*/2)</option>
							<option value="*/4">Every 3 months (*/4)</option>
							<option value="1,7">Every 6 months (1,7)</option>
							<option value="--">-- Months --</option>
							<option value="1">January (1)</option>
							<option value="2">February (2)</option>
							<option value="3">March (3)</option>
							<option value="4">April (4)</option>
							<option value="5">May (5)</option>
							<option value="6">June (6)</option>
							<option value="7">July (7)</option>
							<option value="8">August (8)</option>
							<option value="9">September (9)</option>
							<option value="10">October (10)</option>
							<option value="11">November (11)</option>
							<option value="12">December (12)</option>
						</select>
			</div>
			<div class="errorinfo">error</div>
			<div class="addle"><span class="addfont">Weekday:</span></div>
			<div class="addrt">
			<input type="text" size="4" id="weekday" />&nbsp;
					<select style="width: 175px" id="weekday_options" onchange="select_single_option('weekday')">
						<option value="--">-- Common Settings --</option>
						<option value="*">Every weekday (*)</option>
						<option value="1-5">Mon thru Fri (1-5)</option>
						<option value="0,6">Sat and Sun (6,0)</option>
						<option value="1,3,5">Mon, Wed, Fri (1,3,5)</option>
						<option value="2,4">Tues, Thurs (2,4)</option>
						<option value="--">-- Weekdays --</option>
						<option value="0">Sunday (0)</option>
						<option value="1">Monday (1)</option>
						<option value="2">Tuesday (2)</option>
						<option value="3">Wednesday (3)</option>
						<option value="4">Thursday (4)</option>
						<option value="5">Friday (5)</option>
						<option value="6">Saturday (6)</option>
					</select>
			</div>
			<div class="errorinfo">error</div>
		    <div class="addle"><span class="addfont">Command:</span></div>
		    <div class="addrt"><input type="text" size="40" maxlength="20" id="command"/>&nbsp;&nbsp; </div>
		    <div class="errorinfo">error</div>
      </form>
	<div class="addle"></div> 
  	<div class="addrt" style="width:500px; ">
  		<input type="button" name="addCronJob" value="Add New Cron Job" onclick="addCronJob();"/>
  		<input type="button" name="clear"  value="Clear" onclick="clear();"/>
  		<input type="button" name="listCronJob"  value="Select Cron Job" onclick="getJobList();"/>
  	</div>
</div>
<div class="subject"><span class="subfontstyle">Current Cron Jobs</span></div>
<div class="content3">
	<div id = "currentCronJobsResult">
		<table>
		<tr>
			<td class="job_td"><span>MINUTE<span></td>
			<td class="job_td"><span>HOUR<span></td>
			<td class="job_td"><span>DAY<span></td>
			<td class="job_td"><span>DAY<span></td>
			<td class="job_td"><span>MONTH<span></td>
			<td class="job_td"><span>WEEKDAY<span></td>
			<td class="job_td"><span>COMMAND<span></td>
			<td class="job_td"><span>ACTION<span></td>
		</tr>
		<tr>
			<td>0</td>
			<td>0</td>
			<td>1</td>
			<td>*</td>
			<td>*</td>
			<td>*</td>
			<td>ls</td>
			<td><a href="javascript:void(0);" onclick="deleteJob();">DELETE</a></td>
			<input type="hidden" value="" id="jobId">
		</tr>
		<div id="cronJobsListResult"></div>
		</table>
	</div>
</div>

</div>
</div>
</div>

</body>
</html>