<div navbar ng-init="currentItem='service.apache'"></div>
<div ng-show="Auth.processing||!loaded"><div loading></div></div>

<div id="main" ng-show="!Auth.processing&&loaded" style="display:none" ng-init="checkInstalled()">
	<div class="module-header">
		<h3>Apache - 老牌 HTTP 服务器</h3>
	</div>
	
	<div srvinstall ng-init="name='Apache';pkg='apache';expected_repolist=['base','CentALT'];"></div>

	<div class="tabbable" ng-show="installed">
		<ul class="nav nav-tabs">
			<li ng-class="'active' | iftrue:activeTabName=='base'"><a href="#base" ng-click="sec('base')" data-toggle="tab">基本信息</a></li>
			<li ng-class="'active' | iftrue:activeTabName=='baseconfig'"><a href="#baseconfig" ng-click="sec('configfile')" data-toggle="tab">基本配置</a></li>
			<li ng-class="'active' | iftrue:activeTabName=='configfile'"><a href="#configfile" ng-click="sec('configfile')" data-toggle="tab">配置文件</a></li>
			<li ng-class="'active' | iftrue:activeTabName=='logfile'"><a href="#logfile" ng-click="sec('logfile')" data-toggle="tab">日志</a></li>
			<li ng-class="'active' | iftrue:activeTabName=='update'"><a href="#update" ng-click="sec('update')" data-toggle="tab">升级</a></li>
			<li ng-class="'active' | iftrue:activeTabName=='uninstall'"><a href="#uninstall" ng-click="sec('uninstall')" data-toggle="tab">卸载</a></li>
		</ul>
		<div class="tab-content">
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='base'" id="base">
				<div srvbase ng-init="name='Apache';pkg='apache';service='httpd';"></div>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='baseconfig'" id="baseconfig"  ng-init="loadApacheBaseConfig()">
				<form class="form-horizontal form-horizontal-small" ng-submit="saveApacheBaseConfig()" onsubmit="return false">
					<div class="control-group">
						<label class="control-label" for="ServerRoot">ServerRoot</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.ServerRoot" ng-disabled="processing" type="text" id="ServerRoot" placeholder="ServerRoot">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="PidFile">PidFile</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.PidFile" ng-disabled="processing" type="text" id="PidFile" placeholder="PidFile">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="ServerName">ServerName</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.ServerName" ng-disabled="processing" type="text" id="ServerName" placeholder="ServerName">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="AddDefaultCharset">AddDefaultCharset</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.AddDefaultCharset" ng-disabled="processing" type="text" id="AddDefaultCharset" placeholder="AddDefaultCharset">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="Timeout">Timeout</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.Timeout" ng-disabled="processing" type="text" id="Timeout" placeholder="Timeout">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="KeepAlive">KeepAlive</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.KeepAlive" ng-disabled="processing" type="text" id="KeepAlive" placeholder="KeepAlive">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="MaxKeepAliveRequests">MaxKeepAliveRequests</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.MaxKeepAliveRequests" ng-disabled="processing" type="text" id="MaxKeepAliveRequests" placeholder="MaxKeepAliveRequests">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="KeepAliveTimeout">KeepAliveTimeout</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.KeepAliveTimeout" ng-disabled="processing" type="text" id="KeepAliveTimeout" placeholder="KeepAliveTimeout">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="Listen">Listen</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.Listen" ng-disabled="processing" type="text" id="Listen" placeholder="Listen">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="ServerAdmin">ServerAdmin</label>
						<div class="controls" style="margin-left: 160px">
							<input ng-model="baseconfigs.ServerAdmin" ng-disabled="processing" type="text" id="ServerAdmin" placeholder="ServerAdmin">
						</div>
					</div>
					<div class="control-group">
						<div class="controls" style="margin-left: 160px">
							<button type="submit" class="btn" ng-disabled="processing">提交修改</button>
						</div>
					</div>
				</form>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='configfile'" id="configfile">
				<div srvfile ng-init="items=[{name:'主目录', path:'/etc/httpd', isdir:true}];"></div>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='logfile'" id="logfile">
				<div srvlog ng-init="items=[{name:'日志目录', path:'/var/log/httpd', isdir:true}];"></div>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='update'" id="update">
				<div srvupdate ng-init="name='Apache';pkg='apache';"></div>
			</div>
			<div class="tab-pane" ng-class="'active' | iftrue:activeTabName=='uninstall'" id="uninstall">
				<div srvuninstall ng-init="name='Apache';pkg='apache';"></div>
			</div>
		</div>
	</div>

</div>
